#main{
    background-color: whitesmoke;
    text-align: center;
    width: 80%;
    border-radius: 20px;
}
p{
    font-size: 20px;
}

.startBtn{
    padding: 13px 50px;
    border: 3px solid orange;
    color: orange;
    border-radius: 8px;
}
.startBtn:hover, .startBtn:active {
    background-color: orange;
    color: whitesmoke;
    
}